<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{key}}</title>
    <script src='/js/jquery.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/pure.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class="body-container">
        
        <h3>{{key}} - Course Information </h3>
                {% for key in overview.keys() %}
                <div>
                        {{key}}: {{overview[key]}}
                </div>
                <br/>
                {% endfor%}
                {% for key in handbook.keys() %}
                <div>
                        {{key}}: {{handbook[key]}}
                </div>
                <br/>
                {% endfor%}

    </div>
    
    
</body>
</html>
